# IDEs
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ambientes virtuais
venv/
.venv/
env/
ENV/

# Logs
*.log

# Banco de dados local
*.db
*.sqlite3

# Variáveis de ambiente
.env
.env.*

# Build e distribuição
build/
dist/
*.egg-info/

# Cache
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Sistema Operacional
.DS_Store
Thumbs.db